.container
    %h2.center
        売上詳細
    %table
        %thead
            %tr
                %th 商品名
                %th 価格
                %th 売上日
        %tbody
            -   @purchase_record_products.each do |purchase_record_product|
                - product = purchase_record_product.product
                %tr
                    %td
                        = product.name
                    %td
                        = product.display_price
                    %td
                        = purchase_record_product.created_at